/venv
/output
/__pycache__
*/__pycache__
*/build
/model
/image
/submodules
/config
/memory
/dist
/build
/legacy

*.pth
*.gguf
*.onnx
*.spec
*.log

temp.py
temp1.py
temp2.py
temp3.py
temp4.py
tempCodeRunnerFile.py